<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="" />
    <add key="FTPURL" value="" />
    <add key="FTPUser" value="" />
    <add key="FTPPassword" value="" />
    <add key="FTPFolder" value="" />
    <add key="IsSFTP" value="" />
    <add key="SourceFolderPath" value="" />
    <add key="LoopInterval" value="" />
    <add key="EmailFrom" value="" />
    <add key="EmailTo" value="" />
    <add key="EmailPassword" value="" />
    <add key="EmailSMTPHost" value="" />
    <add key="EmailSMTPPort" value="" />
    <add key="EmailEnabled" value="" />    
    <add key="SFTPhost" value="" />
    <add key="SFTPuser" value="" />
    <add key="SFTPport" value="" />
    <add key="SFTPpassword" value="" />
    <add key="SFTPdirectory" value="" />
    <add key="SFTPtimeout" value="" />    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>     
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>